.offcanvas-backdrop {
  z-index: 1050 !important; /* Default Bootstrap */
}
.offcanvas {
  z-index: 1502 !important; /* Sidebar above backdrop */
}


/* Light Mode */
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg: #f8f9fa;
  --btn-bg: #007bff;
  --btn-text: #000000;
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: #181818;
  --text-color: #ffffff;
  --nav-bg: #333;
  --btn-bg: #17a2b8;
  --btn-text: #ffffff;
}

html {
  height: 100vh;
}

/* Apply Theme */
/* body, #root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  display: flexbox;
  
} */

#offcanvasDarkNavbar {
  color: var(--text-color);
  filter: invert(1);
  background-color: var(--bg-color);
  text-decoration: none;
}

#offcanvasDarkNavbarLabel {
  color: var(--text-color)!important;
}

/* .navbar {
  background-color: var(--nav-bg);
  color: var(--text-color);
} */
/* #heroNav, #heroNav:not(a){
  filter: invert(1);
  background-color: var(--nav-bg);
} */

#close {
  filter: invert(1);
  color: var(--btn-text);
}

/* button{
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
} */
.offcanvas-header {
  cursor: default;
}
.offcanvas-header, #btn-close {
  color: #000000 !important;
  z-index: 10;
}

button:hover {
  opacity: 0.8;
}

.theme-toggle{
  position: absolute;
  right: 0;
  bottom: 9em;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1500;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

/* Sections */

#titleHeader {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notFound {
  height: 89vh;
  width: auto;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

/* Navbar */
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.navbar-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-btn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
} */

